<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender for sample applications -->
    <appender name="INFO" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set logging levels -->
    <logger name="net.sympower.iec60870" level="INFO"/>
    
    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="INFO"/>
    </root>
</configuration>